/* Add CSS Styling */
.odd {
    background-color: rgb(255, 167, 167);
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#two {
    color: #0000ff;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#four {
    background-color: hsl(120, 100%, 75%);
    font-weight: bold;
}