/* Add CSS Styling */

.left {
    background-color: black;
    color: white;
}

.right {
    background-color: yellow;
    color: black;
}

.left, .right {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', 'sans-serif';
}